@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Pais</th>
      <th scope="col">Coord X</th>
      <th scope="col">Coord Y</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>El Dorado</td>
      <td>Bogota</td>
      <td>Colombia</td>
      <td>17.1454545</td>
      <td>30.454578</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Leonador Davinci</td>
      <td>Roma</td>
      <td>Italia</td>
      <td>117.1454545</td>
      <td>20.454578</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Jose Maria Cordova</td>
      <td>Rio Negro</td>
      <td>Colombia</td>
      <td>127.1454545</td>
      <td>50.454578</td>
    </tr>
  </tbody>
</table>
