@page
@{
  
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Numero de asientos</th>
      <th scope="col">Numero de baños</th>
      <th scope="col">Capacidad en peso</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Airbus</td>
      <td>180</td>
      <td>3</td>
      <td>0.5</td>
      
    </tr>
    
  </tbody>
</table>
