@page
@{
  
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Tiempo estimado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Bogota</td>
      <td>Toronto</td>
      <td>10</td>     
    </tr>
    
  </tbody>
</table>
